.eventos {
p {
  margin-top 100px
  font-family Lato
  font-size 18px
  font-weight normal
  font-style normal
  line-height 1.61
  color $grey
  width 200px
}
.img{

  width 324px
  height 324px
}
h2 {
	font-size 44px
	color $darkgrey
	margin-bottom 0px
	line-height 32px
}
.first-row {
	p {
    margin-top 190px
    text-align left
	}
}
.second-row {
	p {
		margin-top 68px
	}
}
.third-row {
	p {
    margin-top 114px
    text-align left
	}
}
.fourth-row {
	p {
		margin-top 140px
	}
}
}
.blank {
	height 180px
}

#img3
  background-image url(../img/eventos/eventos.jpg)
  height 536px

@media (max-width: 768px) {
.mrg{
	margin-top:25px;
}

}
@media (max-width: 767px) {
.eventos {
.pull-left, .pull-right {
	float none !important
}
h2 {
  font-size 34px
  text-align center
}
.img-responsive {
	margin 0px auto
}
p {
  margin 10px auto 50px !important
  text-align center
}
}
}
