.grupos .col-md-11
    float none !important
    margin auto !important

.grupos h2
  color $darkgrey



.grupos .whitebg
  padding-top 30px
  padding-bottom 120px

.whitebg
	background $white

.Oval-1
  background $colorE
  border-radius 50%
  line-height: 94px;
  height 94px
  margin 55px auto 25px
  width 94px

.Oval-1 p
  font-size 36px
  font-weight $black
  text-align center
  color $darkgrey

.Oval-1.ad p{
  color: #fff;
}

.Oval-1.ad {
  background-color $darkgrey;
}

.Oval-1.blue{
 background $colorF
 }

.Oval-1.sky-blue{
 background $colorG
}
.Oval-1.green{
 background $colorH
 }

.Oval-1.yellow  {
 background $colorI
 }

.Oval-1.dark-yellow{
 background $colorJ
}
.Oval-1.red{
 background $colorK
}
.Oval-1.light-red{
 background $colorL
}
.Oval-1.light-blue{
 background $colorM
}
.Oval-1.dark-blue{
	background $colorN
}
.Oval-1.dark2-blue{
	background $colorO
}
.padding100
  padding-bottom 60px
  padding-top 70px

.grupos span {
  display block
  font-family Lato
  font-size 18px
  font-style: italic
  color $grey
}

.grupos small {
  display block
  font-family Lato
  font-size 18px
  color $grey
  font-weight $bold
}

.grupos .whitebg.heavy > div {
  margin-bottom 30px
}

@media(min-width: 768px){
.col-custom{
	float left
	width 20%
	}
	}
@media(max-width: 767px){
.grupos .whitebg {
  padding-bottom 20px
  padding-top 30px
}
.grupos .col-custom.col-xs-6:nth-child(9) ,.grupos .col-sm-4.col-xs-6:nth-child(3),.grupos .col-sm-4.col-xs-6:nth-child(13),.grupos .col-custom.col-xs-6:nth-child(17){
  width 100%
}

.whitebg {
  overflow auto
}
.footer1{
	float none !important
}
.footer2{
	float none !important
}
.grupos small,
.grupos span{
	font-size 16px
	}
}
