.topcontent
  top 0px
  left 0px
  right 0px

.top-text {
	h1 {
  font-size 52px
  margin-top 150px
  margin-bottom 10px
}

 h2 {
  font-size 64px
  margin-top 0px
}

 h3 {
  font-size 20px
  bold()
  italic()
}
}
.mt100
	margin-top 100px

/** section 2 **/
.section2 {
	h2 {
  color $grey
  font-size 20px
  padding-top 50px
  font-weight $light
  padding-bottom 40px
  simple-border(bottom, 1px, $grey, solid)
}
figure {
  margin 0px auto
  img.img-responsive {
    display inline-block
    height 250px
    width auto
  }
}
figcaption{
  color $grey
  font-size 20px
  font-weight $light
  padding-top 20px
}
}
.dance-container {
	margin-top 100px
	margin-bottom 130px
}
.dance {
  color $grey
  font-size 18px
  font-weight $bold
  line-height 34px
  margin 100px auto
  max-width 100%
  width 900px
  .img-responsive {
  margin-top 22px
}
}
.cent {
    display table!important
}
.cent-ch{
	display table-cell!important
	vertical-align middle!important
}
/******** section3 **********/
.section3 h2 {
  font-size 76px
  left 0px
  right 0px
  top 31%
}
.girls {
	height 433px
	width auto
}
#dance
	margin-top 150px

.btn1 {
  margin 90px auto 120px
  border solid 3px $grey1

  max-width 210px
  padding 1em 1em 0.88em 1em
  line-height 1
  text-align center
  text-decoration none !important
  color $grey1
  font-size 18px
  background $white
  block()
 }
 .btn1:hover {
    background $color2
    border-color $color2
    color $white
}

.dance-left {
   background $color1
   padding 50px 0px
 p {
  margin 18px auto
  width 300px
  max-width 100%
  font-weight 300
  font-size 18px
  line-height normal
}
h2 {
  color $darkgrey
  font-size 31px
}
img
{
  margin-top 40px
}
}


@media screen and (max-width: 1199px) {
  .section3 h2 {
    font-size 56px
    top 32%
  }
  .alng {

      margin-left: 37px;
      margin-top: -18px;
  }
  .dance-left {
    padding 31px 0
  }
  .dance-left img {
    margin-top 0
  }
  .girls {
    height 354px
  }
  }

  @media screen and (max-width: 991px) {
  .top-text h1 {
    font-size 42px
    margin-top 10%
  }
  #homepage-carousel{
  	height 500px!important
  }
  #img2{
  	height 350px!important

  }

  .girls {
  	height auto
  	width 450px
  }
  .dance-left {
    margin auto
    max-width 450px
  }
  .top-text h2 {
  	font-size 52px
  }

  .section3 h2 {
    font-size 46px
    top 26%
  }
  .section2 figcaption {
    padding-bottom 30px
    padding-top 0
  }
  }

  @media screen and (max-width: 768px) {
  .dance-left {
    center-block()
    max-width 700px
  }

  #img2{

  	height 350px !important
  }
  #img3{

  	height 450px !important
  }
  .section3 h2 {

    top 26%
  }
  .girls {
  	height auto
  	width 700px
  }
  .content {
    padding 0 5px
  }
  .dance-container, .dance {
    margin-bottom 30px
    margin-top 20px
  }
  }

  @media screen and (max-width: 767px) {
  form [type="submit"] {
    display block
    margin 0 auto
  }

  .dance .img-responsive {
    margin-bottom 20px
  }

  .main-bg .container {
      margin-right 0 !important
      padding 0 !important
  }
  #homepage-carousel{
  	height 400px!important
  	background-position center !important


  	}


  #dance {
    margin-top 50px
  }

  .btn1 {
  	margin 50px auto
  }
  .mobile-logo {
      z-index 99 !important
  }
  .girls {
  	height auto
  }
  .top-text h1 {
    font-size 22px
    margin-top 15%
  }
  .top-text h2 {
    font-size 32px
  }
  .top-text h3 {
    font-size 14px
  }

  .title {
  	padding 20px 0 !important;
  }
  .mt100 {
  	margin-top 55px
  }
  .section2 figcaption, .section2 h2, .dance, .dance-left p, .btn1 {
    font-size 16px
    line-height normal
  }
}

@media screen and (max-width: 480px)
  .dance
    margin 20px 0 !important

  .top-text h1
    margin-top 7%

  .mt100
    margin-top 120px!important

    &.title
      margin-top 60px !important

  #img3
  	height 300px !important

  #img2
  	height 150px !important
  .lato
    margin-top 0px

  .dance-left img
    margin-top: 0px;

  .section3 h2
    font-size 26px
    top 17%
/* parallax css start */



/* parallax css end */
