.horarios {
	font-weight $bold
	color $darkgrey
}
.table.borderless .Oval-1 {
    margin 0 auto !important
}
.table.borderless thead th {
	font-size 22px
	padding-bottom 60px
}

.table > thead > tr > th {
    border-bottom 1px solid #ddd !important
    }
 .table > tbody + tbody {
    border-top 1px solid #ddd !important
}

.table.borderless td,
.table.borderless th {
	text-align center
	vertical-align middle
	font-size 17px
	simple-border(top, 0px, transparent, solid)
}
.whitebg.heavy.padding100.position {
  padding 60px
}
table.table.borderless .table2 .Oval-1 {
  margin-bottom -30px !important
}
.table.borderless .table1 td {
	padding-top 15px
	padding-bottom 15px
	min-width 105px
}
.table2 > tr:last-child td{
padding-bottom 60px !important

}
.table1 > tr:last-child td {
  padding-bottom 30px !important
}
.table1 > tr:first-child td,
.table4 > tr:first-child td,
.table2 > tr:first-child td {
  padding-top 30px !important
}
.table3 {
  border none !important
  height 70px
}
.horarios .Oval-1 {
  height 83px
  line-height 83px
  width 83px
  }

@media (max-width 767px) {
.table.borderless td {
	font-size 14px
}
.table.borderless thead th {
	font-size 18px
	padding-bottom 20px
	padding-top 20px
}
}