.imgtop img 
    display block
    margin 0 auto !important

.mt
	margin-top 40px

.third .col-md-7 {
    margin-top 15px
}
.fourth .col-md-7 {
    margin-top 40px
}
.fifth .mt {
    margin-top 0 !important
}
.sixth .mt {
    margin-top 2px
}
.seventh .mt {
    margin-top -15px
}
.maestros ul 
    list-style-image url('../img/maestros/fill-2.png');

.mt li
  font-family lato
  font-size 18px
  padding-left 20px

.oval-maestros 
  width 213px
  height 213px
  background-color #d8d8d8
  border solid 1px #979797
  border-radius 50%
  display block
  margin 0 auto

.maestros label 
    display block
    font-family Lato
    font-size 24px
    font-weight bold
    line-height 1.42
    color #4a4a4a
    padding-top 20px
    text-align center !important
	

.space 
    margin-top 65px
@media only screen and (max-width: 1200px){
.second .col-md-5 {
    margin-top 20px
}
.third .col-md-5 {
    margin-top 15px
}
.fourth .col-md-5 {
    margin-top: 15px;
}
.fifth .col-md-5 {
    margin-top 29px
}
.sixth .col-md-5 {
    margin-top 40px
}
.seventh .col-md-5 {
    margin-top 40px
}
}
@media only screen and (max-width: 767px){
	.whitebg.heavy.padding100.position {
    padding: 25px 5px !important
}
.mt li {
	padding-left 0px
	font-size 16px
}
.maestros label {
	font-size 20px
}
}