{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Grupos
{% endblock %}
{% block content %}
<section class="grupos mt100 title">
<div class="container">
	<h2 class="text-center heavy">Grupos</h2>
</div>
</section>
<section class="main-bg grupos text-center">
	<div class="container">
		<div class="whitebg heavy">
		<div class="col-md-11">
			<div class="col-sm-4 col-xs-6">
				<div class="Oval-1">
					<p>PK</p>
				</div>
				<small>Pre Kinder</small>
				<span>1 hora a la semana</span>
			</div>
			<div class="col-sm-4 col-xs-6">
			<div class="Oval-1">
					<p>PP</p>
				</div>
				<small>Pre Primary</small><span>1 hora a la semana</span>
			</div>
			<div class="col-sm-4 col-xs-6">
			<div class="Oval-1">
					<p>P</p>
				</div>
				<small>Primary</small>
				<span>2 horas a la semana</span>
			</div>
			<div class="clearfix"></div>
			<div class="col-custom col-xs-6">
			<div class="Oval-1 blue">
					<p>1</p>
				</div>
				<small>Primero</small>
				<span>2 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
			<div class="Oval-1 sky-blue">
					<p>2</p>
				</div>
				<small>Segundo</small>
				<span>3 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
			<div class="Oval-1 green">
					<p>3</p>
				</div>
				<small>Tercero</small>
				<span>3 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
			<div class="Oval-1 yellow">
					<p>4</p>
				</div>
				<small>Cuarto</small>
				<span>3 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
				<div class="Oval-1 dark-yellow">
					<p>5</p>
				</div>
				<small>Quinto</small>
				<span>3 horas a la semana</span>
			</div>
			<div class="clearfix"></div>



	

			<div class="col-sm-4 col-xs-6">
				<div class="Oval-1 red">
					<p>6</p>
				</div>
				<small>Sexto</small>
				<span>4.5 horas a la semana</span>
			</div>
			<div class="col-sm-4 col-xs-6">
			<div class="Oval-1 light-red">
					<p>7</p>
				</div>
				<small>Séptimo</small>
				<span>4.5 horas a la semana</span>
			</div>
			<div class="col-sm-4 col-xs-6">
			<div class="Oval-1 light-blue">
					<p>8</p>
				</div>
				<small>Octavo</small><span>6 horas a la semana</span>
			</div>
			<div class="clearfix"></div>


			<div class="col-custom col-xs-6">
			<div class="Oval-1">
					<p>IF</p>
				</div>
				<small>Intermediate Foundation</small><span>4.5 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
			<div class="Oval-1"> 
					<p>I</p>
				</div>
				<small>Intermediate</small><span>4.5 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
			<div class="Oval-1">
					<p>AF</p>
				</div>
				<small>Advanced Foundation</small><span>6 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
			<div class="Oval-1">
					<p>A1</p>
				</div>
				<small>Advanced 1</small><span>6 horas a la semana</span>
			</div>
			<div class="col-custom col-xs-6">
				<div class="Oval-1">
					<p>A2</p>
				</div>
				<small>Advanced 2</small><span>6 horas a la semana</span>
			</div>
			<div class="clearfix"></div>

			<div class="col-sm-12 col-xs-12 ">
			<div class=" footer1">
			<div class="Oval-1 dark-blue">
					<p>IA</p>
				</div>
				<small>Intermedio – Avanzado</small><span>4.5 horas a la semana</span>
				</div>
			</div>
			<div class="clearfix"></div>
			</div>
				<div class="clearfix"></div>
			</div>
	</div>
	</section>
	<div class="img">
		<img class="img-responsive" src="img/cover/group-2.png">
	</div>
	{% endblock %}