{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Horarios
{% endblock %}
{% block content %}
<section class="mt100 title">
<div class="container">
	<h2 class="text-center heavy">Horarios</h2>
</div>
</section>
<section class="main-bg horarios">
		<div class="whitebg container lato padding100 position">
		<table class="table borderless table-condensed">
  <thead>
    <tr>
    	<th></th>
      <th>Grupo</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
	  <th>Jueves</th>
	  <th>Viernes</th>
    </tr>
  </thead>
  <tbody class="table1" >
  <tr>
  <td></td>
			<td>
				<div class="Oval-1 heavy">
					<p>PK</p>
				</div>
			</td>
      <td>4:00 pm - 5:00 pm</td>
      <td>-</td>
      <td>-</td>
	  <td>-</td>
	  <td>-</td>
    </tr>
    <tr>
    <td></td>
      <td><div class="Oval-1 heavy">
					<p>PP</p>
				</div></td>
      <td>-</td>
      <td>-</td>
      <td>4:00 pm - 5:00 pm</td>
	  <td>-</td>
	  <td>-</td>
    </tr>
    <tr>
    	<td></td>
      <td><div class="Oval-1 heavy">
					<p>P</p>
				</div></td>
      <td>4:30 pm - 5:30 pm</td>
      <td>-</td>
      <td>4:30 pm - 5:30 pm</td>
	  <td>-</td>
	  <td>-</td>
    </tr>
  </tbody>
  <tbody class="table2">

	<tr>
	<td></td>
      <td><div class="Oval-1 heavy blue">
					<p>1</p>
				</div></td>
				<td>-</td>
      <td>4:30 pm - 5:30 pm</td>
      <td>-</td>
      <td>4:30 pm - 5:30 pm</td>
	  <td>-</td>
    </tr>

<tr>
<td></td>
	<td><div class="Oval-1 heavy sky-blue">
					<p>2</p>
				</div></td>
				<div class="r1l">
				<td>5:30 pm - 7:00 pm</td>
				<td>-</td>
				<td>5:30 pm - 7:00 pm</td>
				<td>-</td>
				<td>-</td>
				</div>
    </tr>

	<tr>
	<td></td>
      <td><div class="Oval-1 heavy green">
					<p>3</p>
				</div></td>
				<td>5:00 pm - 6:30 pm</td>
				<td>-</td>
				<td>5:00 pm - 6:30 pm</td>
				<td>-</td>
				<td>-</td>
    </tr>
	<tr>
	<td></td>
      <td scope="row"><div class="Oval-1 heavy yellow">
					<p>4</p>
				</div></td>
				<td></td>
				<td>5:30 pm - 7:00 pm</td>
				<td>-</td>
				<td>5:30 pm - 7:00 pm</td>
				<td>-</td>
    </tr>
	<tr>
	<td></td>
      <td><div class="Oval-1 heavy dark-yellow">
					<p>5</p>
				</div></td>
				<td>6:00 pm - 7:30 pm</td>
				<td>-</td>
				<td>6:00 pm - 7:30 pm</td>
				<td>-</td>
				<td>-</td>
    </tr>
	<tr>
	<td scope="row"><div class="Oval-1 heavy">
					<p>IF</p>
				</div></td>
      <td><div class="Oval-1 heavy red">
					<p>6</p>
				</div></td>
				<td>4:30 pm - 6:00 pm</td>
				<td>5:30 pm - 7:00 pm</td>
				<td>4:30 pm - 6:00 pm</td>
				<td>-</td>
				<td>-</td>
    </tr>
	<tr>
	<td scope="row">
      	<div class="Oval-1 heavy">
					<p>I</p>
		</div>
	  </td>
      <td>
      	<div class="Oval-1 heavy light-red">
					<p>7</p>
		</div>
	  </td>
				<td>6:00 pm - 7:30 pm</td>
				<td>-</td>
				<td>6:00 pm - 7:30 pm</td>
				<td>5:30 pm - 7:00 pm</td>
				<td>-</td>
    </tr>
	<tr>
	<td>
		<div class="Oval-1 heavy">
					<p>AF</p>
				</div>
	</td>
      <td><div class="Oval-1 heavy light-blue">
					<p>8</p>
				</div></td>
				<td>7:30 pm - 9:00 pm</td>
				<td>7:00 pm - 8:30 pm</td>
				<td>7:30 pm - 9:00 pm</td>
				<td>-</td>
				<td>-</td>
    </tr>

  </tbody>
  <tbody class="table4">
  	<tr>
  	<td></td>
      <td><div class="Oval-1 heavy dark-blue">
					<p>IA</p>
				</div></td>
				<td>7:15 am - 10:45 am</td>
				<td>-</td>
				<td>7:15 am - 10:45 am</td>
				<td>-</td>
				<td>7:15 am - 10:45 am</td>
    </tr>
  </tbody>
</table>
</div>
</section>
{% endblock %}