{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}
{% block styles %}
<style type="text/css">
    .parallax {  background-repeat:no-repeat; }
		#homepage-carousel {  height:600px;  }
		#homepage-carousel .carousel-inner,
		#homepage-carousel .item {  height:100%;  }
		#homepage-carousel .item-layer {  height:100%; background: rgba(0,0,0,0.2);  }
		#img2 { background-image: url("img/cover/foto-baile-rosa.png");background-size:cover; height:581px;background-attachment:fixed;}
		#img3 { background-image: url("img/eventos/footer-img.png");height:536px;background-size:cover;background-attachment:fixed;}
</style>
{% endblock %}
{% block title %}
Sylvie Reynaud
{% endblock %}

{% block content %}

<div id="homepage-carousel" class="carousel slide" data-ride="carousel" data-interval="3500">
  <div class="carousel-inner" role="listbox">
    <div class="item active simple-parallax cover" style="background-image: url(img/homepage/carrusel01.jpg)">
			<div class="item-layer"></div>
    </div>
    <div class="item cover simple-parallax" style="background-image: url(img/homepage/carrusel02.jpg)">
			<div class="item-layer"></div>
    </div>
  </div>
</div>
<div class="absolute topcontent mt100 ">
<div class="container">
	<div class="row">
		<div class="top-text white text-center">
			<h1 class="light">Escuela especializada en Ballet</h1>
			<h2 class="roman">Sylvie Reynaud</h2>
			<h3 class="lato">Mas de 20 años dedicados a la enseñanza de Ballet</h3>
		</div>
	</div>
</div>
</div>
<!-- section 2 start -->
<section class="section2 text-center p50 lato">
	<div class="container">
		<div class="row">
			<h2>Conoce los <strong>valores</strong> de la escuela</h2>
			<div class="dance-container">
				<div class="col-md-3 col-sm-6">
					<figure>
					  <img src="img/homepage/Disciplina.png" class="img-responsive" alt="Disciplina" width="136" height="256">
					  <figcaption>Disciplina</figcaption>
					</figure>
				</div>
				<div class="col-md-3 col-sm-6">
					<figure>
					  <img src="img/homepage/Constancia.png" class="img-responsive" alt="Constancia" width="153" height="229">
					  <figcaption>Constancia</figcaption>
					</figure>
				</div>
				<div class="col-md-3 col-sm-6">
					<figure>
					  <img src="img/homepage/Tenacidad.png" class="img-responsive" alt="Tenacidad" width="172" height="252">
					  <figcaption>Tenacidad</figcaption>
					</figure>
				</div>
				<div class="col-md-3 col-sm-6">
					<figure>
					  <img src="img/homepage/Companerismo.png" class="img-responsive" alt="Compañerismo" width="158" height="238">
					  <figcaption>Compañerismo</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="dance">
				<div class="col-md-3 col-sm-3">
					  <img src="img/logo/logo-r-a-d.png" class="img-responsive auto" alt="logo-r-a-d" width="187" height="81">
				</div>
				<div class="col-md-9 col-sm-9">
					<p>La organización de educación de baile más influyente en el mundo.</p>
					<p class="t30">Sus exámenes establecen los estándares del ballet clásico y son el líder global en el continuo desarrollo profesional para la danza.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>

<!-- foto -->
<section class="section3 relative text-center white">
	<div id="img2"  class="parallax img-responsive">


	</div>
	<div>
	<h2 class="absolute roman ">Si lo puedes soñar,<br />lo puedes lograr</h2>
	</div>
</section>

<!-- dance section -->
<section id="dance">
	<div class="container pad">
		<div class="row">
			<div class="col-md-6">
				<div class="dance-left  text-center">
					<img src="img/logo/logo-certified-teacher-2.png" alt="logo-certified-teacher-2" width="127" height="75">
					<div class="content" >
						<h2 class="book">Sylvie Reynaud</h2>
						<p class="lato">Registered teacher de la Royal Academy of dance.</p>
						<p class="lato t10">Exprimera bailarina de la Compañía Nacional de Danza del Instituto de Bellas Artes (INBA)</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="img/homepage/girls.png" alt="girls" width="589" height="443" class="img-responsive auto girls">
			</div>
			<div class="clearfix"></div>
			<a href="maestros.html" class="btn1 roman">Nuestros maestros</a>
		</div>
	</div>
</section>

<!-- group -->
<section>
	<img src="img/cover/group-2.png" alt="group-2" class="img-responsive" height="520" width="1440">
</section>


{% endblock %}

{% block scripts %}
<script>
$(function(){
	$('.parallax').simpleParallax();
});
</script>
{% endblock %}
