{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Maestros
{% endblock %}
{% block content %}
<section class="mt100 title">
  <div class="container">
    <h2 class="text-center heavy">Maestros</h2>
  </div>
</section>
<section class="pink main-bg maestros">
  <div class="container" style="background: #ffffff; padding-bottom: 50px;">
    <div class="whitebg heavy padding100 position">
      <div class="first">
        <div class="imgtop">
          <img src="img/maestros/bitmap.jpg">
          <label>Sylvie Reynaud</label>
        </div>
        <div class="top-content col-md-offset-1">
          <ul class="mt">
            <li>Reconocida en el ámbito nacional, fue primera bailarina de la compañía nacional de danza del Instituto Nacional de Bellas Artes (INBA) 1970-1993.</li>
            <li>Bailó en diferentes países con diferentes compañías.</li>
            <li>Se  tituló de bailarina ejecutante en La Academia de la Danza Mexicana.</li>
            <li>Maestra certificada por la Royal Academy of Dance de Londres, Inglaterra.</li>
            <li>Ha obtenido reconocimientos y premios de varias publicaciones y en varios estados de la república mexicana.</li>
            <li>Del 2008 al 2013, dirigió la compañía Nacional de Danza.</li>
            <li>De 1995 a la actualidad, es directora y maestra en la Escuela de Ballet Sylvie Reynaud.</li>
          </ul>
        </div>
      </div>
      <div class="second space">
        <div class="col-md-5">
          <div class="oval-maestros oval-noelle"></div>
          <label>Noelle Szostak Reynaud</label>
        </div>
        <div class="col-md-7">
        <ul class="mt">
          <li>Lic. en Educación Preescolar.</li>
          <li>Bailarina Profesional.</li>
          <li>Estudios de danza en México y Estados Unidos.</li>
          <li>Diplomas de la Royal Academy de todos los grados hasta Advanced 2.</li>
          <li>Bailarina de la compañía Nacional de Danza de 2009 al 2014</li>
          <li>Maestra de la escuela desde 2005</li>
        </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="third space">
        <div class="col-md-5">
          <div class="oval-maestros oval-mariam"></div>
          <label>Mariam Sedas</label>
        </div>
        <div class="col-md-7">
          <ul class="mt">
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="seventh space">
        <div class="col-md-5">
          <div class="oval-maestros"></div>
          <label>José Zamorano</label>
        </div>
        <div class="col-md-7" style="margin-top: 70px;">
          <ul class="mt">
            <li>Se graduó en el año de 1971 y pasó a formar parte del elenco del Ballet Nacional de Cuba.</li>
            <li>En 1980 obtiene la categoría de Primer Bailarín del Ballet Nacional de Cuba.</li>
            <li>Recibe en Cuba la Orden Raúl Gómez García por más de 25 años de servicio en el sector de la Cultura en el año de 1996.</li>
            <li>El 13 de julio de 1999 el Consejo de Estado le otorga la Medalla Alejo Carpentier por Méritos a la Cultura.</li>
            <li>En 2001 es homenajeado por llevar 30 años de labor artística y pedagógica ininterrumpida dentro del Ballet Nacional de Cuba.</li>
            <li>A partir de  2013 impartió clases en el “Taller Coeográfico de la Unam”; Trabajó en el Proyecto de Danza de “Joven Danza Capital” y en POP Dance Studio. Actualmente imparte clases en la Academia de la Maestra Sylvie Renaud y de Dúo Clásico en la Ollin Yoliztli.</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="seventh space">
        <div class="col-md-5">
          <div class="oval-maestros oval-regina"></div>
          <label>Regina Gonzalez</label>
        </div>
        <div class="col-md-7" style="margin-top: 20px">
          <ul class="mt">
            <li>Ballet (en la escuela) desde 2012.</li>
            <li>Exámenes RAD 6to-8vo/ Inter found-Adv 1 (2014 -2018).</li>
            <li>Curso de verano Joffrey Ballet School verano 2014.</li>
            <li>Curso de verano CAB (Tita) 2015.</li>
            <li>Cursos de verano MXCB del 2015 al 2018.</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="third space">
        <div class="col-md-5">
          <div class="oval-maestros oval-daniela"></div>
          <label>Daniela Castañeda</label>
        </div>
        <div class="col-md-7">
          <ul class="mt">
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="third space">
        <div class="col-md-5">
          <div class="oval-maestros oval-reginacastro"></div>
          <label>Regina Castro</label>
        </div>
        <div class="col-md-7">
          <ul class="mt">
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="third space">
        <div class="col-md-5">
          <div class="oval-maestros oval-reginazaldivar"></div>
          <label>Regina Zaldivar</label>
        </div>
        <div class="col-md-7">
          <ul class="mt">
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
