{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Maestros
{% endblock %}
{% block content %}
<section class="mt100 title">
<div class="container">
	<h2 class="text-center heavy">Maestros</h2>
</div>
</section>
<section class="pink main-bg maestros">
	<div class="container">
		<div class="whitebg heavy padding100 position">
							<div class="first">
								<div class="imgtop">
									<img src="img/maestros/bitmap.jpg">
									<label>Sylvie Reynaud</label>
								</div>
								<div class="top-content col-md-offset-1">
								<ul class="mt">
									<li>Reconocida en el ámbito nacional, fue primera bailarina de la compañía nacional de danza del Instituto Nacional de Bellas Artes (INBA) 1970-1993.</li>
									<li>Bailó en diferentes países con diferentes compañías.</li>
									<li>Se  tituló de bailarina ejecutante en La Academia de la Danza Mexicana.</li>
									<li>Maestra certificada por la Royal Academy of Dance de Londres, Inglaterra.</li>
									<li>Ha obtenido reconocimientos y premios de varias publicaciones y en varios estados de la república mexicana.</li>
									<li>Del 2008 al 2013, dirigió la compañía Nacional de Danza.</li>
									<li>De 1995 a la actualidad, es directora y maestra en la Escuela de Ballet Sylvie Reynaud.</li>
								</ul>
								</div>
							</div>
							<div class="second space">
								<div class="col-md-5">
								<div class="oval-maestros"></div>
								<label>Noelle Szostak Reynaud</label>
								</div>
								<div class="col-md-7">
								<ul class="mt">
								<li>Lic. en Educación Preescolar.</li>
								<li>Bailarina Profesional.</li>
								<li>Estudios de danza en México y Estados Unidos.</li>
								<li>Diplomas de la Royal Academy de todos los grados hasta Advanced 2.</li>
								<li>Bailarina de la compañía Nacional de Danza de 2009 al 2014</li>
								<li>Maestra en la Escuela de Ballet Sylvie Reynaud desde XXXX</li>
								</ul>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="third space">
								<div class="col-md-5">
								<div class="oval-maestros"></div>
								<label>Mayra Marchan</label>
								</div>
								<div class="col-md-7">
								<ul class="mt">
								<li>Lic. en Docencia de Danza Clásica.</li>
								<li>Graduada de la Escuela Nacional de Danza del Instituto Nacional de Bellas Artes (INBA).</li>
								<li>Bailarina profesional del Ballet de Morelos de 2006 a 2008.</li>
								<li>Maestra en la Escuela de Ballet Sylvie Reynaud desde 2015.</li>
								</ul>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="fourth space">
								<div class="col-md-5">
								<div class="oval-maestros"></div>
								<label>Celia Vega</label>
								</div>
								<div class="col-md-7">
								<ul class="mt">
								<li>Estudió en la Escuela Nacional de Ballet de La Habana, Cuba.</li>
								<li>Maestra en la Escuela de Ballet Sylvie Reynaud desde 1997.</li>
								<li>Certificaciones y cursos en yoga, pilates y jazz.</li>
								</ul>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="fifth space">
								<div class="col-md-5">
								<div class="oval-maestros"></div>
								<label>Sofía Rendón</label>
								</div>
								<div class="col-md-7">
								<ul class="mt">
								<li>2008-2010 Estudio Superior en el Instituto Gastronómico Corbuse</li>
								<li>2003-2006 Preparatoria en el Centro Educativo Albatros</li>
								<li>2000-2003 Secundaria en la Escuela Sierra Nevada</li>
								<li>Agosto 2014 a la fecha Maestra de K II en el Centro Educativo Altus</li>
								<li>Agosto 2013 - Julio 2013 Maestra de P.K. Centro Educativo Altus</li>
								<li>Agosto 2007 a la fecha Maestra de Ballet en la Escuela de Ballet Sylvie Reynaud</li>
								</ul>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="sixth space">
								<div class="col-md-5">
								<div class="oval-maestros"></div>
								<label>Lilian Levy</label>
								</div>
								<div class="col-md-7">
								<ul class="mt">
								<li>Estudió ballet, en la Escuela de Ballet Sylvie Reynaud, desde el grado Pre-</li>
								<li>Primary hasta Advanced 2 de la Royal Academy of Dance.</li>
								<li>Es arquitecta de profesión</li>
								<li>Actualmente baila en la Compañía de Danza Anajnu Veatem.</li>
								<li>Actualmente cursa el programa Certificate in Ballet Teaching Studies de la</li>
								<li>Royal Academy of Dance para obtener el título de maestra de ballet.</li>
								<li>Es maestra de ballet en la Escuela de Ballet Sylvie Reynaud.</li>
								</ul>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="seventh space">
								<div class="col-md-5">
								<div class="oval-maestros"></div>
								<label>Jasmany Hernandez</label>
								</div>
								<div class="col-md-7" style="margin-top: 20px">
								<ul class="mt">
								<li>1989 - 1993 Escuela Vocacional de Arte “ Alfonso Pérez Isaac”</li>
								<li>1993 - 1996 Escuela Nacional de Ballet “Fernando Alonso” (Habana - Cuba)</li>
								<li>1996 - 2002 Ballet Nacional de Cuba (Alicia Alonso / Director)</li>
								<li>2003 - 2004 Taller Coreográfico de la UNAM (Gloria Contreras / Director)</li>
								<li>2005 - 2013 Solista en Compañía Nacional de Danza - INBA (Dariusz Blajer - Sylvie Reynaud / Directores)</li>
								<li>2012 a la fecha Es cofundador y Director de la compañía de Danza MXCB</li>
								<li>2016 Realiza la Dirección Escénica del Espectáculo “Chiapas Baila Ballet 2016”</li>
								</ul>
								</div>
							</div>
							<div class="clearfix"></div>
		</div>
    </div>
</section>
{% endblock %}
