<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block meta %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="css/sylvie.libs.css">
    <link rel="stylesheet" href="css/main.css">
    {% block styles %}
    {% endblock %}
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Sylvie Reynaud{% if section != 'index'%} | {% block title %}{% endblock %}{% endif %}</title>
    <meta property="og:image" content="img/og-image.jpg">
<meta property="og:image:height" content="1256">
<meta property="og:image:width" content="2400">
    <meta property="og:title" content="Escuela de Ballet Sylvie Reynaud">
    <meta property="og:description" content="Escuela de ballet fundada y dirigida por Sylvie Reynaud, primera bailarina de la Compa&ntilde;&iacute;a Nacional de Danza (1979-1993). Incorporada a la Royal Academy of Dance desde 1996.
    Ofrecemos clases de ballet para ni&ntilde;as y ni&ntilde;os desde los 3 a&ntilde;os hasta Avanzados, clases de ballet nivel intermedio-avanzado para adultos, y clases de Cardio Barre. Contamos con instalaciones de lujo y maestros calificados. Ven a conocernos!">
    <meta property="og:url" content="http://balletsylviereynaud.com/">
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>

   <script src="js/sylvie.libs.js">
   </script>
   <script src="js/sylvie.js"></script>
   {% block scripts %}
   {% endblock %}
  </body>
</html>
