<footer id="footer" class="white lato">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-envelope" aria-hidden="true"></i> 
						<span>ebsr96@gmail.com</span>
					</li>
					<li>
						<i class="fa fa-home" aria-hidden="true"></i> 
						<span class="alng" >Av. Noche de Paz 14, Locales 30 al 33.<br />
							  Col. Vista Hermosa C.P. 05210.<br />
							  Cuajimalpa, Ciudad de México.</span>
					</li>
					<li class="clearfix"></li>
				</ul> 
			</div>
			<div class="col-sm-4 text-center">
				<a href="#"><img id="logo-navbar-middle" src="img/logo/white-logo.png" width="150" alt="Logo Thing main logo"></a>
				<div>Año escolar 2017-2018</div>
			</div>
			<div class="col-sm-4">
				<ul class="list-unstyled pull-right">
					<li><i class="fa fa-mobile-phone" aria-hidden="true"></i><span>(55) 5813 2686</span></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i><span>(55) 5813 7401</span></li>
					<li><i class="fa fa-facebook-square" aria-hidden="true"></i><span>/BalletSylvieReynaud</span></li>
					<li><i class="fa fa-instagram" aria-hidden="true"></i><span>ballet_sr</span></li>
					<li class="clearfix"></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</footer>
