
@font-face {
  font-family: 'FuturaStd-Medium';
  src: url('FuturaStd-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Medium';
  src:  url('FuturaStd-Medium.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADuwABAAAAAAaRQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA7VAAAAD4A
AABQiyWUMUZGVE0AADuUAAAAGgAAABxLkUe1R0RFRgAAN1AAAABAAAAAUAZIBOxHUE9TAAA4tAAA
Ap4AAAaE0XHDqEdTVUIAADeQAAABJAAAAf7ybtNsT1MvMgAAAeQAAABVAAAAYFsMcfZjbWFwAAAE
uAAAAggAAAKKa7/Shmdhc3AAADdIAAAACAAAAAj//wADZ2x5ZgAACNAAACmIAABMxFUZcvVoZWFk
AAABbAAAADQAAAA2C9MkwGhoZWEAAAGgAAAAIQAAACQHugQraG10eAAAAjwAAAJ5AAAEGBr3JlZs
b2NhAAAGwAAAAhAAAAIQegmNdG1heHAAAAHEAAAAHwAAACABUABLbmFtZQAAMlgAAALLAAAFlFTF
uUVwb3N0AAA1JAAAAiIAAALYHhfjxXjaY2BkYGBgYmDQ2XvkRzy/zVcGbuYXQBGGK3UFTTD6f+y/
LyyRzI+BXA6QWgYGAIzzDmF42mNgZGBgtvwfyHCCpfx/7P9YlkgGoAgyYGQFAJSNBe0AAAB42mNg
ZGBgZGfwYGBnAAEmIGYEQgYGBzCfAQAKuwCdAHjaY2BmEmX8wsDKwMHUxRTBwMDgDaEZ4xiMGKUY
GJi4WZmYmFiYmJmBciAMB44uTq4MDgwKv5mYLf8HMpxgfszIowDUCJJjvML0CUgpMLAAAPOLC8UA
AAB42m2TzWtTURDFz8wL1tpqLbHa1tAmGk2s9QNpElrTpgmpDfoU0RI1IC5UFHGvIELqX+DGhQtX
6s6Fi4J0IW4UXHUl4gfoRiEV1NoGtKK5nntNIFQDPyZv3tyPd86MVOF+cphESBYX5BFKmkMP2adP
0akzSEgXShLFsOMhMnwXYX1SfD5HcEJjCDPXS66RXSRBWkgfiZM99dyQrSe77R4N5BmGvDCi+sT8
0E0Y11tcd5uxFQV5g0mvHV16F+OoYEIumc96kvlpFLzjWOt1IuOlEZSvfGbUfhS0B2F5DtU72K9l
sxzwTFXHAB01PzWOVklhlHfuZ0y786mDXISvg/yGQaRk1sVeqZAgYrqTerRhDDVkLTKHPN4hp4b7
M68hbLDr3JozyEsZW7HAPYAReWyWdM4syLxZlA9mifdUOYK9OoJFF/9q6bTn/3OkjWzRnPlla6x+
8hIT1GcV69t5Xp9bQ+1drooDcpNe2VwJHSTovoVnM7fD6X0QReazkqcGbdTrLOINqP2A0/0/eB9Z
b72gD82gYr7QiwHGF2SOXqHhw0rsvRhbnBfN0AvrmeYRquv+D16Mes7WfWgCNbNMHxKM78lrp3/D
h5XYHgthtdOjCeuF85qRex2TafMdBhK4wntPc53toTL7utEz9I17raMXh+QVfKf7J0xS66ukJFOY
khrG+X67ztMPe04Ra9yMsL+8Cm5wjtIkRJKcszTpJta7TJ3zrLscKGKjHHX4uG9OM79ZfqPPe8C+
4N7eDLbpKOfsHr/tLfXLodt+p61183gKUS/Bub2O9epz9nzOno8kSWkJw7xbTL6xr+vR9pXtDdsj
6EDwD96Bz8EAAAB42mNgYGBmgGAZBkYgycDYAuQxgvksjBlAOozBgYGVQYyhjuE/oyGjE2MwYyJj
BWMd4ySm40wnme4yr2Tew3xAQUBBREFKQU5BSUFNwUDBSsFFYY2isKKSopqinhKTEpsSv5KQkqiS
lJKckraSh1KCUqrqqd9M//8DzVdgWAA015ExiDEBaG4t0NxjQHNvwM0VVpBQkFFQAJtricVcQaC5
knBzU4DmMv7////x/0P/J/5v+l/8P/1/4H/f/1b/2P+x/f3xV/ev9F+JBycfHH9w5MHhB4ce7H+w
7cG6B0sf2N2/cf/U/eP3D9x7e+/VvUf3Ht67f+/OvZv3zt7beG/Wvem3jVn/QsKHFoCRjQFuOCMT
kGBCVwCMIhZWNnYOTi5uHl4+fgFBIWERUTFxCUkpaRlZOXkFRSVlFVU1dQ1NLW0dXT19A0MjYxNT
M3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP/+AwKDgkNCw8IjIqOiY2Lj4hESGtvbO7skz5i1etGTZ
0uUrV69as3b9ug0bN2/dsm3H9j279+57VJSSmvmkYmFB9puyrF8ds74X//6TXv7+08cbP3Jqrq3Y
1Zic9+3Mzw+5tU+TmlqnHz126/b9B3fu7vx78OTLV89f/Pv/uPLew2ctPc29Xf0TJvZNncYwZc7c
2YfOXim8cPFS1dXL5wCHENLmAAAAJgAmACYAJgBAAFQAhADMAQ4BbgF8AZQBrAHMAeAB7gH6Ag4C
HgJUAmQCiAK8AtgDBgM0A0YDhAOyA9QD8AQEBBgEKgR6BNQE7gUmBUgFbAWEBZoFxgXeBewGDAYo
BjgGVAZoBowGtAbmBxQHTAdeB3gHjAemB8IH2AfsB/4IDAgeCDIIQAhOCHoIqAjKCPgJJglKCYYJ
rAnICeQJ/AoKCkYKbAqMCroK6AsIC0ILWAt0C4YLngu2C8oL3gwSDCAMVgyIDIgMogzWDSINXA2E
DZYN+g4aDlwOhg6iDrIOvg8GDxQPOA9SD3YPqA+2D9QP8hAGEBQQJBBGEGAQjBDCERARYBGCEaQR
yBIAEjISZhKOErgS2BL2ExgTSBNcE3ATiBOsE9gUChQ2FGIUkBTSFQ4VKBVkFYYVqBXMFf4WHBZE
Fn4WshbmFx4XaBeuF/YYTBh2GKwY4hkaGWIZdhmMGaQZyhoMGlAaeBqgGsobCBtCG2obpBvIG+wc
EhxIHGQckhzAHM4c6h0CHTodhh3IHgweOh5YHnYesh7EHtYe5B78HxAfMh9MH3Afhh+4H9Yf/iAK
IBggJiA0IEIgUCBoIIAgliCsIMog3iEOIWgheiGKIZoh2iIQIjgiaiKkIt4i/iMWIzQjQCNQI2Qj
hCPeJBIkaCSKJKYkwiTsJSQlTiWGJbAl2iX8JgwmMCZieNrdfAl4U2XW8D3vbZPubZqtbbolaZOu
aZs0SZu26V5aWkppS2hDCaWUQtlENmUREBRxHVDcGeYTVMZtdBAZHddRPxX1cxwFHUcHHRSXcWMQ
9ZOht/9533uTJm0F/+d7/v95/h+amzb3fc973vOe/ZwbLpzDf3CGPMXxnIyL5GK4eI4rUegVvFKv
1CpAHw0KJZw5e7/w4Cv3CzdA9/2v3E+eGmmAa7lR4egoCCPHuFEoEAg3yhFu4egp7n1yGuHEcpzD
qlGrZAaTvdSpsCmuLjYYig2x3kGjNslgSNIuIw0jT3E4xwv3wxycw3NyjlPaeCN9eQcS3b/CFzkt
PA7NwuM4LhkH55I3OB2XQcfJbU58qY3sZXSyl91GX1q89d60rI3G6ca+JboFa0xt2RtyWrMHV+mG
L6nRbdCRN55//vmOOzrewn/41nHHHUgCnrOO7iIJfB8Xzpm4AqSJwg32Ut5uU2u0cpNZnQ64Gbna
aLeA2ZkOWoXZgvcdSnsc3oBploo7rSvLp6dVe4dXdVhnXRHnja2ryWqaOtyaY4c5wr+i2os74AOv
N3q40Kn80ryku/P66LlzYf0sZV19BBQkZnXUt64WPnhb5jJPoUcSzilGT5FDPGG01OKezRyXaJCp
VRqrAymqBTMX+IuzaiihA++nfI2NvsbvCoVmC7zIfhdg56LhG4bhAfZGXqqzFNbVFVo2pYxEJAOR
/iLlC24YHLxBuJ+9UZrYEYcXEQcFl8XVIk3kcXJc0mZ1g5N3usPtpSYjRQLJAWaZkR61oxro1UbP
Po7ItU6tXAsZkWCK0scmRUZ6HPqGvPSbYsIyYrTRkSVmY0lCbAI4Ogc39V9VX1vUNdDWPKS1mNJ/
3VPZdxWslkGKPCU2RaWLdcw0ZKVDXQSvjdYqUmLN+YXGxGylauSHobWb+mt7igyz2tt6ZzanO0sy
Nc8MuZceoGxNeYt7ivEW5+cqylHsXvloNfcln4v05ZRaWQIeMklIvGuqxzO1tLSUz3UeGvnqkHMh
RIMMYsaPd2oSE4jc7Egop4NLp3rIaeeQcEY4K3y/0HmIqOj4angKLsa1FXRtNaWD3IzsIzc7zU7t
440zjDNnGmc0zjLM7M7oJafnFldYrS5r/7yS8hJreQnO1yO/6wnHRbP5yOU4Gbn7B8+xY/hDOHr1
4DjH6DTuNHcJ3aNTy5vvbr/SeUmG8L2W4Qw6UMGQuH+1sfz992GoFT+fhXL6GjdI9zImpeuYhPrl
k9Eoc3QrieAH6Xx6xPBcszB3Cj+Yec6dyVHZTUH+yEH+UHJGjgszWHh7qZtY0wk9e2KII6p0YnWT
UgtA74rZFTmKNNeSa5a40hQ5FfP7p2QrFNlTxLcEe+fihSXVl29ob99weXXJwsWd5Pr6ofk9A0N1
dUMDPfOHEJcNiEMP0hM1ltLotCmMwrbS+7xkj2ckjuFaiAipEBc10kGv1oND5E650Q2MG+WfQLGQ
DFPreyvKu8N80ZsXDFxX5vHAzZ32ipkzyofWXz7P04hwKM/HIBwDArVbx4AwGJRWyOdmWzoCpSuA
cvfUcltdxJzYVX+8rH/J1Yv6tofNlneVuTt7YVH7uvLmipI58y7qW+2w7Vi4YYXXUedxT+lgtENt
R/L5RC4CdS6XLZ6vHniFkYdjHo9XuA7e8JKjz3UuX07uHvkdOIUjTFVz6YifDumQin8Y5U6rHyWn
HyWGr1JPEr4usi/ecdfaKZszmxTzbW2Ll7TkTEtKXA0WsudOfs/StbdMqaorql3W1rI4KwO2UZxy
EHYq7j0BtSyeOK8VBVkUbaeSgWdaBzY0HCFZptmbb1w4/7bO39b0D2wcmMsTi3CKJP5qzsJdvxro
XS7s6XM3+Pqran0M7yKE3S6eH+hxp2Z4TFhPMoS8FjzDc0KhX9/EMp2XRvXdmIYLL3U4qV5hh8BU
scE0dhdmr+7xrvAKW93l8y87fNn8cvfVL10NGUPTZvhmQH9XBR5zWUVF9YCq7OLZl1wy++Iy1UD1
0MaNpKnNUdjVVehg51Eq8XICpazWrPQrNJF5zH7S4pLHcO+phX3S3pu8c6oaBuYnFEE8ibuuT9x7
jq+map6vpnYOx2AzeYMTuC9lsMQljpM9Q4gEwl1joogwLCjnZxEGT20rlfSx2XtQ5tezuUzyyaZg
GdZzcUQPp9G6c6COBXW2neiFLbBF4OC0b/du35+bRPh6bjOOu1yywyhB9D8qIIGjL7jc4/GMh6e0
h6vD7dlsEGwBCuvPvt0iLeFOpGURV45TbBqJlE53hJ+IWqPZJJFWJpcxo+KQBTYEhbP5wdp6X11l
eHpMSpQqIiqsNMdok/lI2PKWtkWOjDktOemZOf1sz9BbM29OfU2VhkSHRctjYxISo3OLbcYojX7K
/KHWdosuTWNLzys8FiAK4bLwrEcQv2jOjfg5pHNFFKrBxss0tqDDtlmd2jjws4KWIhwHZtMYd8CP
8jK7a6qz0F2jj5tijQRNVvPtazY99MS2y8tba1b37v/H3++6tn+F29BpKohyT61fsNLbDqsr630V
lobpL7iF0eSqS5s33vyHrVcdLK40GD6678CJWfOu3DajsICQSveytrm/Yucz+t94eQX1BfXSuGy9
3BgJxmhCYoV7PQtgESxacNn27U8/zSee+waUUCL8mcpTDe7uB5S5CC4RLTinVEs74xU21GwWwn6h
6ho9GyZVxr1J7d1d01KaDxor3cbb+lx9iEd2ree25WTv2dKpLTbhSeHfV5rsKdHCAXI6MX9mVX6X
gsRc1LB42K+blok6GNRjBFQHiEWWda2+7KEHLls5y7t032f/PLCE/HnZ1Mc2X/ZY+0X2E/sPfIpn
gziTbQxnhGJTSAqIIuomDOeaPX849c1TFfq2jQvKy4c2tJHTfzr0xItkz8gf0+tWT+9YXZvO+LQZ
L39HONEUisTO+N4MNwtHwCK8BU5y2vO2R/jYI+pVdLvgEPNdUT+xwUaFHg4J/wKZcNYHy8ieox7h
BhyAY9W4zx9xnzo2ViXLlBSFVm6BAC85jfA65L8ivPTRyX29+511uVsaNj380KXeO/gXYGP6r//y
xd79n09rrC6rf3Tzuie3eylcuvf5Is5KPTrNiAG+bHthoc8n3O7zwfNQPBIHi4VbRDwaEfP9kn+D
A/f7yOmROHqLg9GvUQaL8Hcltf0KNMgGs5O6bmGl9r/44nNnbnIW6fM0Rk2CPAx9In3VnN5ifUdy
giontVSTLNKPLJRwARsyG8gpLvdCzQbhIejdLHxiQoQegCnCQ8I8mJsl/KeIE6X7tZKdVtiQjPee
FJ5GvAY94v3Y0VP8FORjhBvOG9HdjwQlvsH9J0jPvDuAB/6OeT0kgRAhjk8c+R3pRIY+Tf2p0X+Q
t3kN1U42BSjoq5o4fCOv8pqRh0nhuW/JjJE3kH+UCD+X2RDceWKmRjoejnF+Jp7NOWj44lPh8KeQ
8MPBB4RzD/Dks30HTpw4sE8o/P2WzQcPbt7C9CHdxyeIchR634y6EznxXt/SA1fftMaRnlvtNmTV
uXOhUniRnF62bMVSGBBOR+lc+XllyZGifvXjFU/jl3CjX4EwBOVmLY02GHpUYMx8zsraeWvv+fQL
xNVd9odL8iwU04MbOhseSqivR1w/+2xfxy77E2uz15QzlH+ff5+IM0ljPiflTEpWhjf650y6/agb
oeiblcfNvpX59tZUi33wb2wD/0UDLagW/kRO8wkJugFn5yXQJnxLd3EV8wVPwVnEP4vGAaJsZ4Co
NKj34deaRcDiItSLJ1rzphe3Dzu8864dmr01Zi7MdFdOb6wqnTbrCu9WsrNwSmVRQ47auKhn6MpL
+lRVnbMqndXJGr2nuWcJ5RN0feEl3IucxmK4D7teDUrfo0AlfRBdBur7VqAcUnmJFXk8045swSxI
hQ+W+m4WbkbOrv/6a3haMG65554tTC5+Gv0r2SHyp44gX/f/46OFwhPC48iibxHLuU/5FKYPRs+M
nghLYHzE6cJsGAeA9+1jx94eEl4+dkx4GUd/QgpGjpLUc6dI7si7fALFmR50lSQzvE2HxkRpjAbj
128uuePuJe+dHD74xDBcCwuFr0Ep3C6sAbvwGlvrLM5rYDrPP09hPPXD0ieeWPqDD5rhfuEZqBM8
NHABig/JFOnC/Fz0pfbBppEvYBOe3j88HiQN02dVGK/8G+MVuSiHyAfq2weeeYYcO/dMN//PbjYG
OZHIRf9eaQNjRjfs7uYHz+2h9ypx/llxvhapj8rIvhfnL+Prus9pukWdqYdSjFGYL4BI073qX1nx
im/ffiiFZ4Q6qqjYOG50G5wZfYyuE67W2+GMENNqtYow2kgapJLjDAeMktq6LisgBwvu1UnxBXyP
Pk809cmyg6wycoTdGLAqWpsdIqbM6Gyqn9EBJV5SOX/huvXzF1SRmoHmKfPmNzYNwm6hoKX3psWD
u/raEa4T+SYR9x2NfmYIXDkykG3M6TUb1ZApAb7HS6qGBtZfuqi4K3UMcA0/KBj6dg0uvqk4t4Xt
h+J8C+L8szYQbnFOr509e0qL0zVl0U03LZsCL6yuHqhr9rlXZdywaOlO/74nw09rNwY5IzaqBf0b
f5ekdhUvunT9wFAV8Y7h15JbzLYNx+mxSrDfQ/xUVEdk61nUEOziaNTZembF4D3hTmh3l1SntulX
NQ5ftnb5khXCf4AsosFe2vJ+dV+hJb+y4brFK667drnDUV1H944+O5j4FVRjsr3H8WlAWY+Kr81e
ins35SsSU2LksHGjNzf3Vj0/OFupTMrVqo50U5+0+5PHGY7Jwhk4w849d/y5S/EXs7BVEEINO8gD
TDC4Zf4m8E6rnlbuJ8vCyhB2sF+5c+WAu8nb2SsSyNeB+FNv8L+Q7klMn9jEyBGxp8vHhaWB0e0l
qmkFfVO95prUvKR4GXjx/Euyc5bOFb6AmMbauMw0e3rau3QPtbiTp8kXor9O7ceYv/6gV1malVWa
BUeFAjiKLnlKclZWcopoJ2qFMxeeN5JJPgqZB1wDXt5jPIOznDa50miWI+n3PnLJKx+sOZCBiI48
98jzwjfHMg7jKODwwLg9kuzjKnu8VPDxbwqrAhH5T6R/HvMZKRm09MJIYSHsWI1oAXmkCkqvUXEz
UdVnzyrWtBfc6Q1XZJeZ1TG8l0QqDEmGQqXMC0crMnO7TIWvCp9DpC63MEmrt+akfPrfSZnFqZqM
cqvhUzjK1mX0x3WTAuuGkl9x23jyw9HqCdSnwAinQhmPQFhymoFJlDJjWYGY8Z63du16axdUXuHz
XeGDEzvf2rnzLVd/fd28eXX17BycwhmSyHhwnAzy6hANgfgFdERrkIrwBnFbu6QhhAfIR0wGkb+/
nww2s3ShPB2s2MYkPAj4SCbMlIS8XeKDJQg7cezsqLkWD2ovr6gvMGXlavRGi1qO1GvLK9Z2KtPs
Nr3/DIyoH4ZwvmnMzqeHa8cMPRW80jErX9+iylGmh8dHJ8fpZVbX3Dr77MRp+tK0PH2PpWBGeQ/s
NOfqlJHxsVGx8jheW2mt6y0vNlZmuzRFySUF5dNFnYnXEXKVyLuisqApr3u8JSXeHgxVqWp49FHR
ZrkQv5cQ13jR5tPD9Ft9l7dofZF34JUBFKyR2ra2WuCF7wZXrRqkNvY7nPcqzhPtfjT0bL9qwVdf
4sgPIEtIhU/omFPIMx/CN5LNj+Y9O665esfQN1df8w2OewcahKcgD8eWCy+L46lD+yPCRLydZpsW
pQ7jWrnxhd8uvmjdsgePDN9x8zLhnVtvfUd45hlm57/Dcz+N46ntZnYejEfeGd570wLhyqEOuEJ4
F3JHMiXf5xtpnGTjfw/Fgh6qhJ/gcHc3koPRonjUDeloo7NpLI7qsNRRAWo8a0gDVRzI01FOVenA
PjPh3eLWipT2nPg4kqWLjVClKUlcfE57SgXEt+jXHnZO61apNI+XdqVGhqvM9TmPa1Sq7mnOw2tx
ndOjedCMPjsv+mLQ7ME4M4n/fBwOoJbhgrJ8sNMUMS7oJk4LwXcLsM80eBfS/Ugo01QRsbosPxI9
QUjk1JtV4ZGpXaVjSEi5h31EDz4uk2ankB3NljCa7TK7eeTy9DBqyRxwvL5+Zk6rPDVOFS9Lykup
1igKCpOd9bLk2MR4eVJGUji0W9fbwpVRMeE5eYWZmhKV+IchJ4LK5kJB4N6Hc2INY0z3orE1+msY
XjgnJRNuGXmSzhnkiuE4eQ71VgalgkarNprMCgca/XhgJQOa/LAnA60VaGBwajEpamkpsToVxbPX
rO6zNdaR59rCdKuqiPB4VOmapDCY2Ru3vc93fVw7clu1bLC0TMyhRSN/NqJPaqcZKjc4HWYUlUDs
GUjHEy0aXY1cm05Yqp4ZdzPe807PaHSkmy4fdN3aP7w13NtVXTWYoMiU7d6YkjJVlp8RpzQqYlq1
0x3FXdOz3Qk5jnIyWONa3jR3x+XDhtTq3rllSaWZ9mhXd08KSYzUJWss9lp9JkdzpVb0SU1o9/X0
ZOQaFc12ywxmudlpKqUJb4dVS+jpmAwyrQY+rszNy8uttFTfX20Z+/WDnUMAg7cNAiGGyoK62+oK
KguKiwvGfhWuG2ya2t8/tYnK0jkkfBP6nkn++MBmp9QQ3WdaFEIFAh2+r75yHN69l7rSe3c/5vwK
woRzEOaK8rkgkXnV37h8US56hqdHD0AzuVnMf2XjqSnxhZzu8dx19iycOXuW5Ud3khS0kfE0W6AU
Y7YidqpIczNNfzv9p2H0ZwIwSOJpiCcZjCqwSaGShbzzsE5vzn5cp4/NUK253mDMS+wvWNXWsTJ8
FqnPz6sozLkyI6tYW5Jj3zRr/uZe0uYuaVVkJcH0WQpXeqYpcY7ClZGYpo29vVGhNhXrvc3WqtYh
b3tusSsvy6KsT1BnF6WWeNOtzZ4lq+fHuz01JWpDahzdayMK5S5yGHk8UbKNosURraS9dNhqNCan
GH/EN2sWOYwXY0qyUXyjeSUZxrIpPM1hx3M5HBeWaUrAQDaBy5QlaDIdCXLjWBrEaQtyLYldOHzy
JEw9KQjCqeefh4Tnt1ZF1lnbpnW2DKmrIoebBtatHZyyIOEkNJ88ieHM188KXz37LKjKcwvm1jX3
9TZ2b+0f3Czmz2PgXahDHKKo9VCiTZJMqDMoNKAG9IDFbrfk20tfriDmmvrpHVvygMgrPC7ku8rT
wuf59p6ayllOC4OZzvXA66QYbUQ042Nk3HB2BefNZYcPlwkPsDeoeTb381O5L7OrqJdWsdwp2pZs
OyprBbwmeAi36nGPcPrn6zBhIXRMpVXH8ZQMR3tipLGbFbkHf0MausMo60ykpHB2RcvFnTV/vK2h
f3mD3JyoV6gi4jPSJ9By7+uvvw5/XFNZ8eByACKLVsaoUqJ5Ub82kZXwMPIFL2aAm2BYuJUcbmC0
scI74ENcIzBy4DjGJyaHVY7yrJJCf/D1bOyB3o3VeS4oz89zucj9G3t63O4eqysvv5x+IuaZaV3L
imugBbfRqD6oukVTycfEChdGstaHPA89ROP8eHQ32sg5GlMh/fTOCbWdnU8JL7xrcumzS0i9vLOu
uk8Pi1zfFWTri/IMVS3tLqeJ7U8J1I4xHJR2P8tMqO1I29mfb7PqM/PrI6eu765r6WuomMXXRHVk
O1xE5jLUZaWmOivqnfXGzA731HpnTUGWyTIhnkXeOdJ1dwE5XnCzjvkuaP+p76IY57ugelYYJe9l
sKzUG+q/FAh/xbm5owtJCuq7eGphWEiF/xFdk8NGUqq63d2ei+XyzXPJ6e5zR3jnuSNwaOXg3H3i
uc7iXuJeAxf1a8bXHMAVyIsD5xlt5c6Mfktxp2x/Ztg+y3KV7moGoxYs3LvB9bdbPYbVNeRxl1DJ
+INDeWwM5N0CqzgCHrdvx9y5O3z/5ams9FTxxFNT7fFU1xjKc80ulzlXjH2qUf6+9stfNaDgyaXr
zVTwdrDr5c++nHvq81x2RRnKQRmqYHwZg9pME6ilGYG3G+XAUKXFSz6qpKTmO7DV8BsEK0UdfrIJ
zbaNrro6uFXYf/fdpBK3AkdTRiJSqY7zww2XOg4UFFL4pNzHI/hNCBL+NIEN36VrIPdeg7DPhHIk
SRaXGrcHC2cdv4cLsmr2uP0t/TnWhddD94x4Tc7KZyXcCJeHPLsL/SFWy3EapaqNTB4XoZYEHz1f
qcLjdPiJM8YAt/2iUk4xY8Zf/6JKDlSP1bd4qS7yMauLxI5VRnjkmtDiSFTXZQXBBRJyN8synQcG
oQIcCuQFFOcQIG8y0R4HIz4UD/M4TFJ+c1fF0IIQMNW7dln6+8fgPMngZATBMTvdhBagaEFKJvpz
snEbLOIVSXnJucVWjTGtKKc9zeFIUmSELFOUE56UmpSiKzZ3piQz3gtZT0FtaWD3/qDZITkIpaHL
hTHv4EfRVQhZ5bf4eRa7m2UNWuM9tkYiy+UFKOxfQyvxuEoTusp2k93eVmrPVup0ykSdLmSdl/BO
aZt9R4pJpzOlUB2EBBxhOjJRXAP0WvZfia9oQlTCfZ6FsBimmoTXZkNhjvDWOnCahMVrt17z9NP+
chACzxI+EP2B0VapnpX8c9k8HvXkhKrWFlSc4ypb595kilSsK/wd+SSa2b+gyhQ66vKg6pTwIM2E
Sjjxf5B49TzzeWS0oPl3UsPjn/4x5dLguYqJa5tDVt/NeDQAoNPPnxKMJxGGip5kMBTOzyiSI1ka
DPBgiE/ph/tkKKtwZPQbvD6DOIp1aLRxVP/v981i1KDVrf+kpCA0N8WdDR5Ht7DfN8C2Tcf9i+15
9Cjiq2LjIsfgmRHixdIO6dh+aXsof2/g+BTcH892yGaYxgvCfl9XMPOLMI4Eb4XxIqtjxtAcj1Kq
HuXTxLVTzdLxofXM22v2bt8eqGnCH6GMVjVhcceJEx3CV4HKJpHqYE/irtPGKmHKybSDWB7rm1Qr
BBfN+LpQrcBLtaqPmS3XTl5Fo7n68ZW0A3hGE6tp5Bm/nv0lcKnXPR4u9OOhTgL4n5LuDYGb/PP4
midgfD3jgUlA9wb4XYT9JIOd+zOwJ6P++KV+Pfk5TFy6ZYKODsFBRytwk2ExQV2Px+CBYJ6dZOHn
x8liaA+aUyv2sKG+01e++GLlCy+wK7xQ9ULgh9JLPvoRb5diGiPHRYLoJESCqD3lUoRMoYluDFrH
m4TuGUMbDo58Br/rWLn1gcWL+r7Yd+NF/Y4Bz6f3XL90ESkUvNW/3zIkHIcDTQc3L/lpaOmN+z7r
n2vvX3rVgROeIaYXWS0QeSDW712PVQPp2fsrgjcwPRJcFST7Arr1PDAoX/phwBSmZEKAvCHyYjAM
5WR4mAOYrJb0TwiYqgDfiXCeRDgajEvHQUocr2n9QG8M1bIhsO+doGtZ3RFxZT1ogcoj9Xr81cct
uNPgCqRoSYLr4zFU4pysvjhZhdwXF1oif+QRcvq6iRVy4FJxv05+BZWxcDtjarNdI3qTcWEqtZTi
SbCNtYBBSvuaZZ7y9jaHLl+XGBnuzck5Pmdjf3P3fQndK9q758p6YIbL2ZyotWS4kzNH/gJbu3eD
bL3vojLt1dPX7EMaszobxmq0vph5gQojNRuTVxnPIUtNWmk8LjLW/9461IxPvk4znsWk60AUO5TQ
dQwXWCebMePkKwnvM96cdLF1flMZWO8wW896ofUmU5I/s/yXk+rKSdEZDtWWYSE4ZWPUcn6ssvwp
L0cgC/YzOP0UrD0nReXEuDxZWMh5mLjiC518AJcxZ3hyZK4MdYp/hinYEFPAPRbPi0+CE+iHKzgX
7V1ieTo5XUgKJIPrweagQpS91GiQ21lmkwWA6KCIheCTuU3NefktbSQhpFrcmjrP0bZyqNVbumFG
UV1r8Wy1e/WSFZDhqK67NLct22w2mUAqIc/KK5w+taU7P3NdfEes2TTt2uVSnbpVqqOf1/eeUE23
o+89rqI+cor53iK/vofnoRJj+vNVv2ncdt4KeBhK/cQqOPQHy/wvXIsq3POu9QhK/iRrXef3f4LX
0p9/LdH7Pe9qhUz4J673b0nyw6T1DrP1sjjL+Vckk4jY+ZaPDxa0SXY9OE7M0I79hNcjLOcWFDM8
6O3FIxJr7MfFmMGOnBQePI5S/kEvdS+lWryoSSnMD3FsBhsbEjc86F3FyCOOXzcWN7yH47NZ7pRa
7LG4ITSz/qB3ZrCFFqGMUxxS7ZpfhivnBXdBY6xqdmqo5+Qvx1JCp8u0JjzRDlbJFrbscpSXu+t3
5V0/e80NS4d37RqOUsYnRMWHx4Nrxk1wnVTihs6uykJbflOXc8aS75ds3LnzrZ2EDw+L4CPgkgXd
VP5YLR73k0TPd/JqvHMylT6hRF82qTKfvHA/PN735UVa4DnQOr56sko+jV1DqvnCm/TcQ0v6sN0v
lxeERw1wCLz5lD3GgTso8UkoPO3P4Wceh+FzIg+NA6oXuckP8zCDaZ4U5mSUH0eEyck+bknFOIKH
haydwmKNCatzEyU6dO3jwSI8fslrxssvH4gzePasE+e069Vhk3TJ0+rAp6wDRvw55vH0Sj0wcN9Y
MwzPRYz+jajgS38MUi3FHtly0czBJDHItR/mWet8YP67qbjOJ3jrnbuGZzVUWdzWXcMzaxqv/0d6
f711x4cp8+pKhG/r62YP7yytyq+u8wzvLJb651lfAvJBvN/vD+5MoJ5/oDvBIaqlkA4F+FLkzwvA
oVHIWJcDL+qtEEBEyzgzGI56cnzMYxiZ/CotFKftfn4UYR1GWEnUrxwPLXEiPwRAN4SwwvgVvp2o
y1mPBJOn6LEuCbrvQKcEWHHfgXYJ/p9ibov16/CDyLVivmVcj44yyPPaFdym84XkYAU18gkPhK04
94HfqULdLuJEZSKBZkj9WE2y7wCSw8H7HkP2+XEbBq4Td/0gHPX3YT3oFW0C6xf5UeqlZp1gTrWc
9VPL7U7FvWvXnhSenjEDI7yPurzThb95oM412wG9YtxOO1EFsRfMxsbb2OzOGTO8nZ2wxznDCZcI
L5V1OgWzvzc5rBdjdibvetpjaBateDpoaYnOn+DLCiQbyBvE9pu+ez79Yp/37mIC1wqvQqHwNjjO
vSrmGjY1tAJtU+bbGq8QU33NgeZqpt/4lcwPTaAeuuSHmsYe9wlyJ2QmM0NHxMZBH3giCslVOCJ2
b70Y7E1ULk7TL62ghs+1PLPmcsnp9GufGZI/Ac6SEidQq1dWtCCMuZxIB7HH+WOkQt4v7HLOZmmR
8/c6C8dcC4Yq7jp/y/OjKGmWXRIOQ8j/4lOoF+7AMosYXKgP698Mhwt1Y70hYkH9GTE38CQXgRKV
HJQdIONTD/5UwZQQxyY4ZzAuyUvEHmaks5w9yyR1OImkDOplFuYznFlL8wsSYkTsjWL6YcLcoB4p
YR2by1qlPpDmAhc3uoSk8g20ZwFsciMfJ8sHJ30mwklLmk6pWc4Qx8th/uWR25zyaLU221KbmxSv
TM1PV8bLZPbayCa1wuPT6xISLVlKhSwcfmoQ/pJnq88pSIr3xGboytKNUNqwcXCJvFuuUBWgUQWu
lWSgHB9ntVOmeVvF3M+0QCxN68YZcF1gDO2EFrnmEf+RnLc+D9wUkgv78R7N5LC6oNR5MaU5s8lc
pJgSPb+mej453Jptck+fjuMvJVXcv3B8RMDC20v3hDR8iDLhRbjxiBer6yonCVEPhQaj5Pj4uBO4
7tEC4EZP0YqF1qZGfka3RS45DpaqsnSVXJedU5VAcguKYl2KAlMtfRaGlMGziB+1XpN5OxdN6t+Q
qlCHhnAm9AQe8fv8aEeKqC2BOWhCqmgW7xhaj4dFZw5oDoMc5oHaOKddki9W7KQZeztt9/E3tmjx
79erpv/+qh2/7ay481xtT9GixqGNvdX/buLLfze899W3di171M432SyH1k29cs5DW1c+mW9r4v6n
PQBRiF8tKaXxBbrfKq3RZFcYZURudCQ6DXKzw6Ynrq74GYonwgp0nWl5YdOzYgqWwm/gS+HRRY6M
S6F7pfBW60wwrootTzvf88Ecfn5G/JyWd2i/Pr3B8N8KOn5ImoP3tpJPRlLFm8BVwl+5n9CO0Htm
pfba6VeWwV8zIFpL83t47z3pnpY3X4P3eMIeVD7fM8yEwoTfsHn0/BAqe5XgdOGrAHzha7YKHZ+E
4zf4x9OVAF/b6UhVYElQitBZX8voNNjN1paLq9Px/4EYgMqPhjScPoP0W8JLPdY2RaCz/Yz3scfw
Bz2Irz0jD5EuD3v+e/Q+NlYZeH57rBNemsNm0XnfetZ7BC/ci2+Mjgu4p+E4cVA9mSX22SAXwkV7
lsPyvcufXt4+ffny6e2I8VK0oxvZc9xK6vVkBTzlyX6DD8SGjxXsbWR7yMOmxnHvlDZyToN+QW3I
dxCwLoBf+j0EWf6KRGDE9xf4ZgI4xd4+ZLd+0dcULGDXXOke0k7D9UAY6yFh/TdO7UXBPVuSrsUx
LnGM2F/SFtRZgn7XHLTBzSKvsufe1bRrgidSTwRwutF/ERXqiXx/Zkqul+tVdJNqNCvUd2FZKh6N
CtWVdnyntoWoyud1zYkEs1b4DGBE+/fouR1zXbaVHxvbtehENWntisvXLiNvz7Iv72sMT5VFpIU1
Llhk782H1EaVWq4Lb7ziFqku/T2c5GvQX6NZXi1zC+wo/06F/3llNXOgeLWDJu5k8Iy5YYtnJl+Z
PCXW11hTdwzcJYXNJ3/dYrD+Jmv7ip64kmJ3LJh3bBxof/Sv5u7OKnjts0PbVvTRtQwwjb8GfdA4
pnUoA/PSc2U60EsczV9TQ3aaryM1w+suE7qvqcHxwmxYgG4Zfd1Dfd8a+kfN/xUdS7js0X/xN+D5
aVhXst6QBiptkElMyMoMU5vtpdSOyGnLsk1v5W8YqZJFXnxn142l1ZWHFz42yo3CYuDuilp56x0r
omUkPQyWh78THbu6saqp8yQ0ffrpfsW7CVEXrYpOeIs+ys8Vjn5PIvgO9JVMVPsFPznP0qY2Mf5Q
UjT8O1yS2jJ00Z2/2tY/vK3P3asgsKKz3UMafVGxHY5qbyM5Vl359stH/nv30MY7ag0xhqsfGbHd
tTK3eYNn+iDn76XbykciH7NeOrAp1dl63gJm9ODleiDzhJHv4NBNEXZ5WHhxRDl5c6TE1Qi3ptyk
01ydzGout5Jnyfes29EoPW1qtOvJsxd3Cic6V5D95LfnvuUV9DWN8n0Sjs/H8eh5hevtkcBCAyWo
9SR/5GvQCt/DD8JlPwrfwf3D5bAG1lQ0hwn3CbeHibXEY0QP+UzH03n0Gyw8v0DWfmnvWtboXNLL
X4l8ygFyKEq+Mh0ywOFUkt7PW+5tT7hxG4kjRC7/E3/lv/8G36fZyoU10a4YsGbyy+h3D3A7eQ4+
5HSo42juS/K2gxKaGHxQN0QTjh5juJM+/SJDMcumz1bI/V++wHPz6opnuey9rlrf3GaH18bLDTmt
5kbPyPskDh2ktJj0sBRtsUVXXA5uOATJDp2TuBpyisoroAJa51bUV9X2N7X011aGyU0m0+znZIoY
Xaw+LDOlMLHJWlz7RXpSJaktbSpwUllKGJ0Bi/m9rB9ezphZrUqkj9QbxYd9aTcWob3n9EmNxbEK
tV5ljCs0tOSmxulUGYmGuJQMszuL31kRnZJ/S7dwg/fWhnJFVUyy5drZcIln9mJ9vmgji7jbSSq8
jTamQuq8NzEfTG6mai2dF3vvM2D8jUj8FM4arJ60koKqLL0lyZjUVhivS41PJ7w+MikxOqNQK96t
Nkh3E00qk0wjT4yOj49IL4S/pA0pk7NyTWnFzvBYeSKQxLAo3nx9+gLx0yJnVKQ6LAY/CycmUbfb
OQfRoG5XUpqIXxCkR2YQvxxI74T9Rfv+0DQifFOWX7znYOOPEOMkaQsdtzs2KBfhdT3br4OLIFqy
TcxBFII9Wx2uDtdinEGUQg78VZgHvwkTMuAfS06Vf1t7hLx2d5lIJyfO0/jnKdmXI9izaXyCToyQ
C3tx4t8wQvmQbDtVdqr2VfLqyEtldF756JsYD2WjHCtF7lXalLzJbJTJeSXVHE6S+XbDm283XHFj
rJyPirrxplhZmCwG1gseuB8eELogLyPVmCT8TTiqT0pNFfOS9Fm8Z/kVLKeWLWruMfkxT/503u+k
B8zSQp/SG/ec2n9M+sweXe9htp5OshOTr/Gwt2j8M4D0ubNJYP7/sIf/M33q//Ne2wv18/4/1HP9
vwDaazQDeNqdk09PE0EYxp/tFghiSEmIiXqZGI5lui1podRoSsDIgdhQgudtd2gX9k+zOwW5+QE8
GRNPXrxxNH4fv4gXn52OSqPGhJ1k5jfzvu88M/O+C+CR8wwOZt8hPlh2sOaULJew5GxYdvHYCSyX
UXE+W17A09Km5UVUSu8sL6HpLltexor72vIKHrofLa9iw/1uuYJ75ZblNSyWX1HRKS9z9t6oF+zg
Cb5ZLmHVWbfsouVULZchnLeWF/DG+Wp5EaJ0bnkJ56VPlpfxwH1ueQUNd2h5FS/dL5YrWC8Ly2u4
X+7iBgJ1tLGDbVQtt9n/5i3DDXhsDVIXAVIMoMh9XCOHJsccBV8/wZDWDBPT+8YWQJq4iE1wNcQI
Y1pyM1McFcdL64kbUW/vbFfZt+um36qKhuc1RDdIB0r0r3Ot4lwcJsM0m6SZr1UgRTeKRBaOxjoX
mcpVdslF4AWm1JmakxSn1VQQODJKIddjukz1NPNFXwfiSAXhlEvHtI9ojRiVcapG08gnNHi64g2a
6PA2+9jDAem2xkxhc16hIb1Gs9Pd3zvozMSotflT67/Rf4acmufK6ZDyucXcsXrcRNhUSTN6XB3T
U5vEJHzmIrGFTTKisMaUvuCehc8ZVyPuPLDxkr4tFsE2Gacqy8M0EbML9fqCSZGe53XGqR6myaWo
S082vU7sX6hUn8koHNAu6632tnenm86nLzQF49uiGZm5Nm+hTFq18QtMMRaJu+BayhsJJsrnLoWn
wAlLdmKKrmpKQjKV8lcZhLnwWUCjkDWWqUDozA9U7GcXIj0Te/5UZeLkeqLyqujLLsN6ZueirIui
SdgKFfT8aSSOVZIoTopS19TcRY3tyjRpTjr7jaTJTEybtmfDWOvJbq12dXUl/aLo5TCNa5rCd9mt
xvMV7+VzlCY+Jv1boxapkR/JsY6jv/9Bt/4ZzKfQJu4HEq0DZQB42m3ReZQNdBjG8c9vZsxmzBik
xVbRQuLeK5NbkjGIJIkoLZpyJ7eYqzt3khZEG6FVtChrHZzK2r4h7etp32kh7Wn5VzPTnOYfzznv
+33f8zznvH+8sjRo32Yx+1HIq2+yZMvRTK48+QoUaq5IC8VKtFSqldbaOEBbBzrIwQ7RTnsddNTJ
oQ5zuM66OMKRjnK0rro5RnfH6qGniGjd7V6O01uZ4/URd4IT9XWSfk7WX7kBKgw0yGCnGGKoUw1z
muFON8IZRjrTKKOdZYyxznaOcc51nvNdYLwLVYYsK1zvBs+52w9utMAtllhtZcg212dmu9Nef5pv
kZtt85U/PGCNv/3lH8s94jWveNRFLnabCd6Q8KrXveNNb3nbHlXe9673POYSv7vdRz7woYl+8os5
LpV0mckmqbZUyuWmSKtRK+MKU/3oSleZ5mrXusaTlplhupmu87NfPe1j3/jWOut953vP2GW3h3xi
Z8jxuS98aYdPfR2ahVz31f1sg40e94SXbLLZdrNsdZO1Xva8Fzwb8kOBeR4MhRaH5u51j99CUWhh
lTvc72G3ustCT3nRllAcSkLLUBpahdahTV5tdTISKY80cmADYxXxBvYqb+SAinrGItFIzqDadKqg
siqZLIvG+sQLEjWZ5OTKTGJCQyAWKfuP0d6NjGdXjU/W1aTCyh41tVMS6WQqXZj6fyxKVSealszU
Jqc4MzGdaPL+BQSIrT8AAAAAAAH//wACeNodi9sNgDAMA8+h4vHTuViqFQxLGYM65GLpEskIqM5J
TnCwsCF2k1ezdy77zWMfJnj5kHJDodX/8reZ+0QHOXjabVCxSgNBEH27d3uEEEK8mCgWEixERIJF
SCEWFkFQAopY2C6KIhxRktjqfYGf4gdprXC118e3c4MSkGPnzc28ebvzYADUcYQcdnQ8vkQz8/MJ
thCzjsUCjmBgEbHyX815n83Ru536a+xk93ce/YfpzQSD2dPjDAdkWmFXEyFGEmOJDgma6GIT2+hj
qLx95Zwq66pCU6v6pqe4S8WUCp8mNs4kxpqInQQrWEWHqiNc8L/FU6PiOz7wzbyqvLHSwDle5QXr
3HgPAxzii3elaPMLWfGblZIFnVSxUAyd5S2ehbUmWCiWxBepdwQLxZIYUafFN+Q6l+tcrnPBszZ3
6jLbkG0sb2yY4OiZCQ6PZa8TZnVY9cHK/pbKbskf9+fOD18sMXN42qWUPUxTURiG33tb2lLbAoIV
f2AwDLjIoIRAGAmRhMEfRFEWBwbRMKiDOPrbycTEsYlKFJUIXCMSognE0BhcjAnLHejC4sLixuTx
uadFEJUUvE++e+/pPbzf+32Hc+RIiuuYeuV2dHb3KHXl4vUhHVSY32WMXB7OppF7eeDqkFLXLt0c
UI39RXbGDa1dwV8Ec120vzKatt8jSqtHD/REY/JUoRHzRc+I58So+aYXPMfMO70mxnmfUEyTZpW5
IU0xniFmiQXmptSN4ojxUfBR8FHwUfBR8FHwUfBRkCYJj/zTJoeCz9uoWWTGIqNF9JZxOUPGWUaO
lsxD7nl7j6hFrWpTu5aUl1t2KKgi9Cgcx3s9/fDMiskQWRuedn7V2D7u+DI5M2gGS5q5TPjBE8/+
f3mW7cCwGS5xcuOGCCoWPcuywjGzwqhxiywrf3/fjs9CFD0Hede/ZS3fgxUsvnsbv/9R8TZ7tuYY
3YzJbPbEKnh2PXI8l/+tzffcDtco+7vnQKcQgbPC/8AWeUuuN6hiU95in9fvhZ1SrCdrwyu1f+u6
GwauqnUYXDVBSEchrGYI9m6LouzfVpWzh9u0i33crqS6wNEZKFMfxHQe4uqHhB5DUnOQ0EdIaB5C
+gxJToE8J4+rI5wAFShWwgFVQUJ1sJ9zoZ7TswHi1oFjHYSsgzLrIKoO2K1OqNZxqLGeyjnRurVH
JyCpk5DSKUjrNNRxcvaQM/C9l9O6V7U6C5U6B/tsJa6tJKwLUGXrieiWMjgJqorqKZRrRC/J/gqq
OYfHyT6hN+R9CylNaYaM7yGtD5pFOehFxPYiok+Q1gLU2o5EbUdi+uE4KDvU38BqNLEKzb/Ozi4c
9+GrHy+3dUd3dU/38TOH4jwa+Z+QKD60AAB42mNgZGBg4ABiFgY+BqbMlNT8ovzcPAYmFzefEAa+
nMSSPAYVBjYGEGBkYAKq5GFg/B/GANKFVRQApx0JcAAAeNpjYGBgZACCY6nbT4HoQ1OPf4XRAFig
CNQAAA==) format('woff'), url('FuturaStd-Medium.ttf')  format('truetype'), url('FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


