*
  box-sizing border-box

html
  font-size 16px
  @media screen and (max-width: 768px)
    font-size 14px

  @media screen and (max-width: 480px)
    font-size 12px

.absolute
	absolute()

.relative
	relative()

.title
  padding 50px 0 30px !important;


.white
 	color $white

 .auto
 	center-block()

.padding-t-0
	padding-top 0px !important

.padding-b-0
	padding-bottom 0px !important

.main-bg
	padding-top 85px
	background: linear-gradient( to bottom, $colorB 0%, $colorB 45%, $colorC 45%, $colorC 55%, $colorD 55%, $colorD 100%)


#page
  margin 0
  overflow-x hidden
  padding 0

.container, .container-fluid
  overflow-x hidden

@media screen and (max-width: 480px)
  .container.pad
    padding 0px !important

  .row
    margin 0

    div
      margin 0
      padding-left 0
      padding-right 0

.alertify-notifier.ajs-bottom.ajs-right
  color #ffffff

@import 'partials/navbar'

@import 'partials/footer'
