.cover
  background-position center
  background-size cover

.simple-parallax
  background-attachment fixed

.parallax
  @media screen and (max-width: 769px)
    background-attachment initial !important
    background-position center !important