// COLORS
$white = #ffffff
$blackColor =  #000000
$grey = #979797
$darkgrey = #4a4a4a
$grey1 = #9b9b9b
$color1 = #eed1de
$color2 = #d792af
$colorB = #d190ac
$colorC = #ede691
$colorD = #dbb6c6 
$colorE = #d8d8d8
$colorF = #74acee
$colorG = #a2e0d2
$colorH = #cce3b5
$colorI = #ebe382
$colorJ = #f0c47a
$colorK = #ffa0a0
$colorL = #ecbebe
$colorM = #dec9f1
$colorN = #67cde9
$colorO = #ceeef7
$navcol = #81536d








// Font weights
$thin = 100
$hairline = $thin 
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black
$lbold = Lato-bold